body {
  font-family: "Poppins", sans-serif;
  background-color: #c7f4ff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../src/images/surf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 40px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 100px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  background: white;
  text-decoration: none;
  color: #126a6d;
  border-radius: 2px;
  padding: 16px 32px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../src/images/surf1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
footer p {
  opacity: 0.7;
  color: white;
  margin-right: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li a {
  color: white;
  text-decoration: underline;
  opacity: 0.7;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  text-decoration: underline;
  color: white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  header h1 {
    font-size: 34px;
    line-height: 1px;
    padding-bottom: 10px;
  }
  header h2 {
    font-size: 20px;
    padding-top: 20px;
  }
  header h3 {
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  header a {
    font-size: 10px;
    padding: 6px 22px;
  }
  footer .grid {
    grid-template-columns: none;
    padding-top: 20px;
  }
}
